/* Error: Missing argument $channels.
 *   ,--> src\sass\_variable.scss
 * 1 | $rose: rgb()
 *   |        ^^^^^ invocation
 *   '
 *   ,
 * 1 | @function rgb($channels) {
 *   |           ============== declaration
 *   '
 *   src\sass\_variable.scss 1:8  @import
 *   src\sass\app.scss 4:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $channels.\a   \250c \2500 \2500 > src\\sass\\_variable.scss\a 1 \2502  $rose: rgb()\d\a   \2502         ^^^^^ invocation\a   \2575 \a   \2577 \a 1 \2502  @function rgb($channels) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   src\\sass\\_variable.scss 1:8  @import\a   src\\sass\\app.scss 4:9        root stylesheet";
}
