.iconeContactUsParent {
    margin: auto;
}


.iconeRéseau {
    color: black !important;
}

footer {
    i:hover {
        color:white !important;
        background-color: black !important;
        transition: 0.3s ease-in-out;
    }
}