section:first-of-type {
    width: 100vw;
    height: auto;
    padding-top: 5rem;
}

.imgBanner {
    animation: imgbanner 3s ease-in-out infinite;
}

@keyframes imgbanner {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px)
    }
}
