#Featured {
    a {
        border: 1px solid #ff69b4;
        color: #ff69b4;
    }
    a:hover {
        background-color: #ff69b4;
        color: white;
    }
}



.parentPrixCercle {
    justify-content: center;
    display: flex;
    position: relative;
}

// .product-card {
//     width: 25rem;
//     height: auto;
//     // margin: auto;
// }

.prixCercle {
    position: absolute;
    top: -30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-style: italic;
}

.featuredHover:hover {
    height: 320px;
    background-color: rgb(238, 161, 106) !important;
    transition: 0.3s;
}